body {
  margin: 0;
  padding: 0;
  font-family: "Century Gothic";
}

.header-top{
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

.header-top a{
  display:inline-block;
  padding: 30px 15px;
  font-size: 16px;
  color: #585858;
  cursor: pointer;
}

.header-top .navbar-nav a:hover{
  background: #f19220;
  text-decoration: none;
  color: #ffffff;
}

.header-top .navbar-brand{
  padding: 0px 15px;
}

.navbar{
  padding: 0px;
}

.carousel-item img{
  background-repeat:no-repeat;
  background-position: center center;
  min-width: 100%;
}